body{
color:rgb(90, 35, 179);
background: rgb(61, 0, 85);
margin: 0px;
}

header{
border-bottom: solid 7px rgb(4, 80, 18);
padding:20px;
font-size: 50px;
color: rgb(146, 65, 201);
}

section{
    background: rgb(155, 6, 6);
    padding-top: 20px;
    padding-bottom:40px;
    display: flex;
    justify-content:first baseline;

}
.chamada-texto{
    margin-right: 3%;
}

h1{
    font-size: 50px;
}

img{
    height: 200px;
}