body{
color:rgb(90, 35, 179);
background: rgb(61, 0, 85);
margin: 0px;
font-family:"Manufacturing Consent", static;
margin-botom: 100px;
}

header{
border-bottom: scolor:rgb(90, 35, 179);
solid 7px rgb(4, 80, 18);
padding:20px;
font-size: 50px;
color: rgb(146, 65, 201);
}

.chamada{
    background: rgb(155, 6, 6);
    padding-top: 20px;
    padding-bottom:40px;
    display: flex;
    justify-content:first baseline;

}
.chamada-texto{
    margin-right: 3%;
}

h1{
    font-size: 40px;
}
p{
    font-size:40px
}
img{
    height: 200px;
}
.categoria-videos{
    display:flex;
    overflow-x:auto;
    gap: 1.0px;
}
.categoria{
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
}
.categorias-videos.img{
    opacity: 0.5;
    height: 200px;
}
.categorias-videos.img:hover{
opacity: 1.0;
border: 1px solid color(srgb rgb(71, 14, 7) rgb(91, 109, 91) rgb(2, 2, 153));
}
.categori h2{
 color:rgb(90, 35, 179);
}
